main {
  color: #fff;
  text-align: center;
  font-family: cursive;
  font-style: bold;
  font-size: 25px;
  border: 10px solid #4285f4;
  width: 300px;
  font-weight: bold;
}

div {
  padding: 15%;
}

.a1 {
  background: #E67676;
}

.a2 {
  background: #F2F062;
}

.a3 {
  background: #A9E6E6;
}

.a4 {
  background: #7692E4;
}