body {
    margin: 0px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
}
.Hdr {
    background: grey;
    color: white;
    font-size: 24px;
    padding: 20px 20px 14px;
}
.week {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.day, .exercise {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: solid 3px #eee;
    background: #f1f1f1;

}
a {
    text-decoration: none;
    display: block;
    color: grey;
    background: #eee;
    padding: 17px 20px 10px;
    margin: 20px;
    border: solid 3px #ddd;
    border-radius: 10px;
    max-width: 20%;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.task {
    background: #fcc;
    display: block;
}
.solution {
    background: #cfc;
}
