section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 800px;
  background: #eee;
  margin: auto;
  justify-content: space-around;
}

.item {
  width: 200px;
  height: 200px;
  border: 2px solid lightgrey;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}