div {
  float: left;
  margin-left: 20px;
  padding: 5px;
  border-radius: 20px;
  border: 4px solid black;
  background: lightblue;
}

.first {
  border: 6px solid darkred;
}

.second {
  border: 4px solid #ace;
}

.fourth {
  border: 4px solid blue;
}

.fifth {
  background: yellow;
  border: 4px solid purple;
}