* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #6b8;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    color: white
}
main {
    margin: 20px auto;
    max-width: 300px;
    background: rgba(100, 100, 100, 0.2);
    min-height: 300px;
    border-radius: 5px;
    padding-bottom: 1px;
}
input {
    padding: 5px 8px;
    margin: 3px -3px 3px 11px;
    width: 72%;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
button.add {
    width: 20%;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    padding: 5px 8px;
}
.inputField {
    width: 100%;
}
li {
    list-style: none;
    padding: 1px 4px;
    width: 100%;
}
ul {
    padding: 5px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.2);
}
li:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
}
button.done, button.delete {
    padding: 0px 3px;
    background: rgba(255, 255, 255, 0.05);
    border: solid 1px grey;
    border-radius: 3px;
    color: grey;
}