* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #222;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 40px;
}

header {
  background-image: url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
  height: 400px;
  width: 100%;
  margin: 0 auto 60px;
}

h1 {
  z-index: 1;
  position: relative;
  top: 240px;
  left: 60px;
}

.b {
  font-weight: bold;
}

h1, #an {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 33px;
  color: #222;
  line-height: 0.96;
}

#an {
  font-size: 65.5px;
}

header, blockquote {
  font-family: 'Abril Fatface', cursive;
}

p {
  margin: 20px auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.6;
  font-size: 16.5px;
}

ul {
  list-style-type: square;
  margin: 20px auto;
  line-height: 1.5;
  font-size: 13.5px;
}

ul.lg {
  font-size: 16.5px;
  line-height: 1.8;
}

blockquote {
  position: relative;
/*   width: 720px; */
  background: #444;
  color: #fff;
  margin: 320px auto 0px;
  font-size: 40px;
  padding: 46px 80px 46px 46px;
  box-sizing: border-box;
}

blockquote::before {
  content: '"';
  position: absolute;
  top: -148px;
  left: 4px;
  font-size: 200px;
  font-family: 'Alex Brush', cursive;
  transform: rotate(180deg);
}
h2 {
  margin: 50px 20px;
  text-transform: uppercase;
  font-size: 23px;
}

h3 {
  margin: 30px 20px 20px;
  font-size: 20px;
  line-height: 1.5;
}

.sm {
  margin: 10px auto;
  font-size: 12.5px;
  line-height: 1.6;
}

h4 {
  margin: -20px 20px -5px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  font-size: 13.5px;
}

.main {
  padding-top: 80px;
  display: flex;
}

.l {
  flex-grow: 1;
}

.r {
  flex-grow: 2;
}

#ach {
  margin-top: 120px;
}