header {
  background: purple;
  height: 50px;
  display: flex;
  align-items: center;
}

.headbttn {
  height: 30px;
  margin-left: 15px;
  background: lightblue;
}

#button1 {width: 100px;}
#button2 {width: 180px;}
#button3 {width: 150px;}

container {
  height: 500px;
  display: flex;
}

#content {
  flex-grow: 3;
  background: yellow;
}

#sidebar {
  flex-grow: 1;
  background: #4e1;
}